Library
Temp

Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Pompeii-csharp.sln
Pompeii.sln
Pompeii.userprefs
obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp-vs.csprojResolveAssemblyReference.cache
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
Pompeii-csharp.v12.suo
Pompeii-csharp.v12.suo
